@media screen and (max-width:600px) {
    .head {
        flex-wrap: wrap
    }

    .funicorm {
        font-size: 15px !important;
    }

    .slider-h1 {
        font-size: 2rem;
    }

    .navbar {
        position: relative;
        left: 0px;
        right: 0px;
    }

    .about,
    .news,
    .owl-slider,
    .testmonolgy {
        padding: 0px 35px;
    }

    footer .right,
    footer .left {
        width: 100%;
        text-align: center;
    }

    footer li,
    .copyright {
        font-size: 13px;
    }

    .navbar-section {
        display: none !important;
    }
}

@media screen and (max-width:1000px) {}